.filter-list {
    width: 15vw;
    margin-top: 50px;
    font-size: 1rem;
}

.filter-list h3 {
    margin-bottom: 50px;
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px 0;
    transition: background-color 0.2s ease;
}

.list:hover {
    opacity: 0.7;
}

.filter-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    user-select: none;
}

.filter-list li {
    list-style: none;
    text-decoration: none;
}

.filter a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.filter-list button {
    background-color: transparent;
    border-style: none;
}

.filter-list h6 {
    margin: 50px 0;
}


.filter-list ul {
    text-align: start;
}

.rating-check {
    margin-top: 20px;
}

.filter .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
    top: 90;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
}

.filter .spinner .loader {
    margin-left: 50%;
    margin-bottom: 10%;
}

.menu-toggle {
    position: relative;
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.menu-toggle span {
    background-color: black;
    position: absolute;
    transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
    width: 100%;
    height: 2px;
    opacity: 1;
}

.menu-toggle span:nth-child(2) {
    width: 2px;
    height: 100%;
    transform: rotate(0deg);
}

.menu-toggle.active span:nth-child(1) {
    opacity: 0;
    transform: rotate(90deg);
}

.menu-toggle.active span:nth-child(2) {
    transform: rotate(90deg);
}

/* -----Tablet Size------- */
@media (min-width: 650px) and (max-width: 999px) {
    .filter-list {
        width: 20vw;
    }
}

/* -------Mobile-------- */
@media (max-width: 600px) {
    .filter {
        opacity: 1;
        position: absolute;
        left: -100%;
    }
}
