.promo-banner {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}

.promo-banner span {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 700;
    color: whitesmoke;
    margin-left: 10px;
}

/* ------Mobile----- */
@media (max-width: 600px) {
    .promo-banner span {
        font-size: 0.6rem;
    }
}
